:root {
    --dark-bg: #0f172a;
    --card-bg: #1e293b;
    --accent: #f59e0b; /* Naranja dorado tipo Caterpillar/Dewalt */
    --text-light: #f1f5f9;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--dark-bg);
    color: var(--text-light);
}

.text-accent { color: var(--accent); }

/* SPLASH SCREEN */
#splash-screen {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: var(--dark-bg);
    z-index: 9999;
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* Centrado vertical */
    flex-direction: column;
    text-align: center;
    transition: opacity 0.5s ease-out;
}

/* Animación de Palpitación del Logo */
.logo-pulse {
    max-width: 150px; /* Tamaño del logo en el splash */
    width: 100%;
    height: auto;
    animation: palpitar 2s infinite ease-in-out;
}

@keyframes palpitar {
    0% { transform: scale(1); filter: drop-shadow(0 0 0 rgba(245, 158, 11, 0)); }
    50% { transform: scale(1.1); filter: drop-shadow(0 0 15px rgba(245, 158, 11, 0.5)); } /* Brillo naranja al crecer */
    100% { transform: scale(1); filter: drop-shadow(0 0 0 rgba(245, 158, 11, 0)); }
}

.logo-text {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.loader {
    width: 50px; height: 50px;
    border: 5px solid #333;
    border-top: 5px solid var(--accent);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-top: 15px;
    margin-left: auto;  /* Esto asegura el centrado forzado */
    margin-right: auto; /* Esto asegura el centrado forzado */
}

/* NAVBAR */
.navbar { background-color: rgba(15, 23, 42, 0.95) !important; backdrop-filter: blur(10px); }

/* HERO SECTION */
.hero-section {
    height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://images.unsplash.com/photo-1581091226825-a6a2a5aee158?ixlib=rb-4.0.3&auto=format&fit=crop&w=1470&q=80'); /* Imagen genérica de industria */
    background-size: cover;
    background-position: center;
}

/* CARDS CATEGORIAS */
.card-category { text-decoration: none; }
.card {
    background-color: var(--card-bg);
    transition: transform 0.3s, box-shadow 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.05) !important;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(245, 158, 11, 0.2);
    border-color: var(--accent) !important;
}

.card i { transition: color 0.3s; }

.card:hover i { color: #fff; text-shadow: 0 0 10px var(--accent); }
